/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 nov. 2021, 21:20:34
    Author     : Usuario
*/

.titulo{
    font-size: 25px;
    text-align: center;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%; 
}


header{

    background-color: black;
    text-align: center;
    padding: 20px 5%;
    color: white;
}

.enlaces{
    list-style: none;
}

.enlaces li{
    display: inline-block;
    padding: 10px;
}

nav ul {
    margin:auto;
    text-align: center;
    
}
nav ul li{
    border-bottom:3px solid black;
}
nav ul li a{
    font-weight: 500;
    font-size: 25px;
    color: black;
    text-decoration: none;
    text-align: center;
}

input.enviar{
   
    width: 300px;
    height: 30px;
    margin-left: 150px;
    font-size: 20px;
}

#DescDepartamento{
    width: 300px;
    height: 20px;
}
#FechaBaja, #Fecha{
    width: 300px;
    height: 20px;
}
#VolumenNegocio{
    width: 300px;
    height: 20px;
}
#CodDepartamento{
    width: 300px;
    height: 20px;
}

.descDepartamento, .CodigoDepartamento, .DescripcionDepartamento, .Fecha, .Volumen{
  
}

.formBuscar{
    margin-top:20px;
    text-align: center;
    font-size: 20px;
}

.volver{
    
    width: 300px;
    height: 40px;
    font-size: 20px;
}

.resultadoConsulta{
    border:3px solid black;
    text-align: left;
    width: 90%;
    height: 50vh;
}
.tabla{
    width: 100%;
    height: 90%;
}
.tablaConsultaCampos{
    width: 100%;
    padding:10px;
}
.tablaConsultaCampos th{
    text-align: justify;
}
.campo{
    text-align: justify;
    width: 20%;
    
    background-color: transparent;
}
.boton{
    background-color:transparent;
    text-align: center;
   
}
.boton a{
     text-decoration: none;
     color:black;
     font-weight: bold;
}
input.aceptar, input.cancelar{
    width: 250px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.mainEditar{
    width: 33%;
    margin:auto;
    margin-top: 10%;
    display: block;
    padding:2rem;
    text-align: justify-all;
    font-family: sans-serif;
 
}

.contenido{
    border:1px solid black;
    padding:10px;
}
.formularioMostrar{
    text-align: center;
    width: 100%;
    margin-left: 21%;
    margin-right: 21%;
}
.formularioConsulta{
    margin-left: 5%;
    display:block;
    position:absolute;
}
.botones{
    width: 20%;
    margin-top: 2%;
    margin-left: 5%;
}

.resultadoConsulta{
    margin-top: 1%;
    margin-left: 5%; 
}


.contenidoIndex{
    margin-top: 1%;
}

.pagina{
    border: 0;
    background-color: transparent;
}
.tBoton{
    width: 30px; 
}

